<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omar Shemy</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
    <style>
        ul {list-style-type: none;
            padding:10px;
            margin:0;
            }
        h1 {font-size:20px;}





    </style>
</head>
<body>
<h1>
    HONORS & AWARDS
</h1>
<ol>
    <li>
        <p><strong>NSERC Award</strong><br>Jan 2021</p>
        <p>Natural Sciences and Engineering Research Council of Canada</p>
    </li>
    <li>
        <p><strong>Golden Key International Honor Society Scholar, McGill Chapter</strong><br>Issued by <a
                href="{{url_for('test', num=8)}}">Golden Key</a> |
            International Honour Society · Sep 2019</p>
        <p>Graduated in the top 15% of the program and joined Golden Key, the world’s largest society promoting academic
            excellence</p>
    </li>
    <li>
        <p><strong>Graduate Excellence Award</strong><br>Issued by McGill University · Jan 2019</p>
        <p>Full funding merit based, top-up award</p>
    </li>
    <li>
        <p><strong>MEUSMA Award</strong><br>Issued by McGill University · Jan 2019</p>
        <p>Full funding merit based award</p>
    </li>
    <li>
        <p><strong>Rubin Gruber SURE Award</strong><br>Issued by McGill University · May 2018</p>
        <p>Summer undergraduate research grant, awarded based on merit, sole selected student for position</p>
    </li>
    <li>
        <p><strong>
            Robert Forsyth Prize in Civil Engineering</strong><br>Issued by Department of Civil Engineering | <a
                href="http://coursecalendar.mcgill.ca/scholarships2005-06/Scolarships2005-06-1-5.html#wp1111470">McGill
            University</a> · Apr 2018</p>
        <p>Sole winner of the <a href="{{url_for('test', num=9)}}">Robert Forsyth</a> award for high standing in the
            subjects of theory of structural design</p>
    </li>
    <li>
        <p><strong>PETC Masonry Arch Student Competition</strong><br>Issued by <a
                href="{{url_for('test', num=4)}}">APT</a> -
            The Association for Preservation Technology · Sep 2017</p>
        <p>Second place in the Canadian universities national competition</p>
    </li>
    <li>
        <p><strong>Rubin Gruber SURE Award</strong><br>Issued by McGill University · May 2017</p>
        <p>Summer undergraduate research grant, awarded based on merit, two students selected for position</p>
    </li>
    <li>
        <p><strong>#1 ranked in Alexandria in AS Level Accounting (2013)</strong><br>Issued by <a
                href="{{url_for('test', num=7)}}">Cambridge</a> International Examinations · Jun 2013</p>
        <p></p>
    </li>
    <li>
        <p><strong>Certificate of Achievement</strong><br>Issued by <a href="{{url_for('test',num=6)}}">AMIDEAST</a> |
            Education USA · Jun 2013</p>
        <p>A Competitive College Club (CCC) student for the academic year 2013-2014</p>
    </li>
    <li>
        <p><strong>Certificate of Participation</strong><br>Issued by International <a
                href="{{url_for('test',num=11)}}">
            MASTERCLASSES</a> · Mar 2013</p>
        <p>Hands on particle physics, one of the two students selected based on merit from the Advanced Level Physics
            class
            to join the MASTERCLASS</p>
    </li>
    <li>
        <p><strong>2nd place - FIRST LEGO League Robotics Championship</strong><br>FLL Open <a
                href="{{url_for('test', num=10)}}">Arabian Championship</a> |
            Amman, Jordan · Mar 2010</p>
        <p>
            Represented Egypt in the Open Arabian Championship where we won the second place<br>
            <a href="https://www.youtube.com/watch?v=H4lgFuYmAMc">Video</a> showing tasks demanded
        </p>
    </li>
</ol>
<p style="text-align:center; padding-bottom:15px;"><strong><a href="{{url_for('experience')}}">Experience</a></strong> ·
    <strong><a href="{{url_for('home')}}">Home</a></strong></p>
</body>
</html>