{% include 'header.html' %}

<main class="container mt-4 mb-4">
    <section class="projects">
        <div class="row">
            <div class="mt-5"></div>
            <div class="mt-5"></div>
            <div class="col-md-8">
                <h1 class="display-4">Portfolio</h1>
                <h2 class="h4">This Website</h2>
                <ul>
                    <li>I built this portfolio website as a tool to showcase my technical skills and projects, build
                        credibility, facilitate communication and document my ongoing journey in the field of
                        development.
                    </li>
                    <li class="list-item-cc"><span class="item-text">Technologies Used:</span>
                        <div class="description">
                            <ul>
                                <li><b>Programming Language: </b>Python</li>
                                <li><b>Frameworks: </b>Flask, Bootstrap5</li>
                                <li><b>Frontend: </b>HTML, CSS, JavaScript</li>
                                <li><b>Packages: </b>FlaskForm, wtforms, twilio</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">GitHub Repository:</span>
                        <div class="description">
                            <ul>
                                <li><a href='https://github.com/osstd/The_portfolio_website_.git'>Here.</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p style="font-size:0.5rem; padding-left:30px;">Please note that the following are limited instances, if
                    the webapp is down.
                    Kindly, allow between approximately 30 seconds to a minute after you click the link for the service
                    to go back up and the page to load. Once up, the webpage should be responsive.</p>
                <h2 class="h4">The Blog</h2>
                <ul>
                    <li>I built this blog to share knowledge and expertise and to promote my personal brand. To visit
                        the blog click <a href="https://the-blog-13ns.onrender.com">here</a>.
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Main Features:</span>
                        <div class="description">
                            <ul>
                                <li>Read, rate and comment on published posts.</li>
                                <li>User page to access, edit and delete your ratings/comments.</li>
                                <li>Request admin rights to post and edit your posts.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">Technologies Used:</span>
                        <div class="description">
                            <ul>
                                <li><b>Programming Language: </b>Python</li>
                                <li><b>Frameworks: </b>Flask, Bootstrap5</li>
                                <li><b>Frontend: </b>HTML, CSS, JavaScript</li>
                                <li><b>Packages: </b>FlaskForm, wtforms, twilio, ckeditor, gravatar, functools, login,
                                    werkzeug.security
                                </li>
                                <li><b>Database: </b>SQLite (local), PostgreSQL (deployed)</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">GitHub Repository:</span>
                        <div class="description">
                            <ul>
                                <li><a href='https://github.com/osstd/The_Blog_.git'>Here</a>.</li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <h2 class="h4">The Birthday Wisher</h2>
                <ul>
                    <li>The wisher sends a simple wish to all your friends on their birthdays. Check it out,
                        <a href="https://the-birthday-wisher.onrender.com">here</a>.
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Main Features:</span>
                        <div class="description">
                            <ul>
                                <li>Add your friends' birthdays.</li>
                                <li>User page to access, edit and delete your saved birthdays.</li>
                                <li>Each recipient receives a message on their birthday at 7:30 AM EST.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">Technologies Used:</span>
                        <div class="description">
                            <ul>
                                <li><b>Programming Language: </b>Python</li>
                                <li><b>Frameworks: </b>Flask, Bootstrap5</li>
                                <li><b>Frontend: </b>HTML, CSS, JavaScript</li>
                                <li><b>Packages: </b>FlaskForm, sqlalchemy, wtforms, twilio, ckeditor, functools, login,
                                    werkzeug.security
                                </li>
                                <li><b>Database: </b>SQLite (local), PostgreSQL (deployed)</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Challenges:</span>
                        <div class="description">
                            <ul>
                                <li>Mastering the integration of Celery and Redis for task scheduling.</li>
                                <li>Deploying a Celery beat schedule on the server, was a challenging yet immensely
                                    rewarding experience during production.
                                </li>
                                <li>Establishing a seamless system ensured the daily 7:30 AM check of the database
                                    and the automated dispatch of the birthday messages.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">GitHub Repository:</span>
                        <div class="description">
                            <ul>
                                <li><a href='https://github.com/osstd/The-Birthday-Wisher-.git'>Here</a>.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h2 class="h4" id="pixel">What is a pixel?</h2>
                <ul>
                    <li>What is a pixel, delves into the foundational blocks of our screens and phones, namely, the
                        pixel,
                        offering a unique tool to explore the intricate composition of every pixel in an image.
                        It provides valuable insights into the visual elements that construct our digital images.
                        Try<a href="https://what-is-a-pixel-vercel.vercel.app"> here.</a>
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Main Features:</span>
                        <div class="description">
                            <ul>
                                <li>Visualizing Pixel Components with 3d Bar Segments.</li>
                                <li>Visualizing Pixel Components with 2D Charts.</li>
                                <li>Plot pixel compositions of an image uploaded in real time. For a sampler factor of
                                    <a href="https://what-is-a-pixel.onrender.com/upload">10</a>.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">Technologies Used:</span>
                        <div class="description">
                            <ul>
                                <li><b>Programming Language: </b>Python</li>
                                <li><b>Frameworks: </b>Flask, Bootstrap5</li>
                                <li><b>Frontend: </b>HTML, CSS, JavaScript, Chart.js</li>
                                <li><b>Packages: </b>Pillow, numpy, FlaskForm, wtf.file</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Challenges:</span>
                        <div class="description">
                            <ul>
                                <li>Image file type and file size validation.</li>
                                <li>3d bar plots with different segments using matplotlib.</li>
                                <li>Plotting in real time using chart.js to avoid storing any image
                                    information during processing.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">GitHub Repository:</span>
                        <div class="description">
                            <ul>
                                <li><a href='https://github.com/osstd/What-is-a-pixel--.git'>Here</a>.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h2 class="h4" id="todo">Django To Do List</h2>
                <ul>
                    <li>To do list web-app using Django framework. App utilizes Django user authentication. Django app
                        hosted on Render and connected to AWS RDS PostgreSQL. Add your <a
                                href="https://todo-list-ibi1.onrender.com">tasks</a>.
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Main Features:</span>
                        <div class="description">
                            <ul>
                                <li>Create, read, update and delete your tasks.</li>
                                <li>User authentication.</li>
                                <li>Task sorting. Highlighting complete and uncompleted tasks.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">Technologies Used:</span>
                        <div class="description">
                            <ul>
                                <li><b>Programming Language: </b>Python</li>
                                <li><b>Frameworks: </b>Django</li>
                                <li><b>Frontend: </b>HTML and CSS</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">External Database</span>
                        <div class="description">
                            <ul>
                                <li>Django app hosted on Render and connected to an external AWS RDS instant
                                    of type PostgreSQL.
                                </li>
                                <li>Configuring inbound rules for the RDS instant to match IP addresses of the network
                                    requests
                                    from the Render service to the public internet.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">GitHub Repository:</span>
                        <div class="description">
                            <ul>
                                <li><a href="https://github.com/osstd/todo_list_.git">Here</a>.</li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <h2 class="h4">Python Web Apps</h2>
                <ul>
                    <li class="list-item-cc"><span
                            class="item-text">The Beam
                            <a href="https://beam-calculator-vercel.vercel.app">Calculator</a>.</span>
                        <div class="description">
                            <ul>
                                <li>Beam caculator for simply supported beams and cantilever beams with different load
                                    cases.
                                </li>
                                <li>This app employed Python objects, Error handling, JavaScript, Chart.js</li>
                                <li>GitHub: <a href="https://github.com/osstd/The-Beam-Calculator.git">here</a>.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span class="item-text">The Pomodoro
                             <a href="https://pomodoro-web-page-vercel.vercel.app">Timer</a>.</span>
                        <div class="description">
                            <ul>
                                <li>A customizable timer that works on a desktop or a mobile browser.</li>
                                <li>All functionality including: the timer, timer updates, display updates, image
                                    updates and sound using functions in JavaScript.
                                </li>
                                <li>GitHub: <a href="https://github.com/osstd/The-Pomodoro-Timer.git">here</a>.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Flight
                             <a href="https://flight-search-b90v.onrender.com">Search</a>.</span>
                        <div class="description">
                            <ul>
                                <li>Search flights for up to 5 cities with your required dates, nights and
                                    stopovers.
                                </li>
                                <li>This app utilized the Tequila API by Kiwi.com</li>
                                <li>GitHub: <a href="https://github.com/osstd/Flights-search.git">here</a>.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">Your Special
                             <a href="https://top-10-special-vercel.vercel.app">Day</a>.</span>
                        <div class="description">
                            <ul>
                                <li>Get Billboard's top 10 list on your favourite chosen day.</li>
                                <li>Used requests module and BeautifulSoup to scrape the Billboard website.</li>
                                <li>GitHub: <a href="https://github.com/osstd/Top-10-special.git">here</a>.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h2 class="h4">JavaScript Web Apps</h2>
                <ul>
                    <li class="list-item-cc"><span
                            class="item-text">NY Restaurant
                            <a href="https://restaurant-reviews-v644.onrender.com">Reviews</a>.</span>
                        <div class="description">
                            <ul>
                                <li>New York City restaurant reviews directory. Search for your restaurant by name or
                                    zipcode. Create, read, update and delete your reviews for reference.
                                </li>
                                <li>Web apps developed locally using the MERN stack. MongoDB database, Express.js
                                    framework,
                                    React.js framework and Node.js runtime environment.
                                </li>
                                <li>Frontend done using the component based structure of React. The backend, powered by
                                    Node.js and Express.js, which handles the local server-side logic and API endpoints.
                                </li>
                                <li>Express.js framework handles routing, middleware, and handling HTTP requests and
                                    responses.
                                </li>
                                <li>Live React app hosted on Render. RestAPI endpoints in MongoDB Realm are configured
                                    as serverless functions that interact with MongoDB database internally on the Realm
                                    cloud using JavaScript functions.
                                </li>
                                <li>GitHub: <a href="https://github.com/osstd/Restaurant_reviews_.git">here</a>.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc"><span
                            class="item-text">The Book
                            <a href="https://book-shelf-s1ao.onrender.com">Shelf</a>.</span>
                        <div class="description">
                            <ul>
                                <li>Showcase your favourite books. Add preview photos, reviews and notes. Create, read,
                                    update and delete books, preview photos, reviews and notes.
                                </li>
                                <li>React frontend app hosted on Render. Styling using Tailwind CSS.</li>
                                <li>API endpoints in MongoDB Realm are configured as serverless functions that interact
                                    with MongoDB database internally on the Realm cloud using JavaScript functions.
                                </li>
                                <li>GitHub: <a href="https://github.com/osstd/Book_shelf_.git">here</a>.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h2 class="h4">Python Apps</h2>
                <ul>
                    <li class="list-item-cc">
                        <span class="item-text">Pixel composition plots. Used in conjunction with, What is a
                            <a href="#pixel">Pixel?</a></span>
                        <div class="description">
                            <ul>
                                <li>2d plot of RGB composition of each pixel in an image.
                                    <a href="https://github.com/osstd/plot_rgb_.git">rgb</a></li>
                                <li>2d plot of RGB composition of each pixel in an image, with emphasis on
                                    pixels near
                                    black.
                                    <a href="https://github.com/osstd/plot_rgb_black_.git">rgb-black</a>
                                </li>
                                <li>2d plot of RGB values of each pixel in an image.
                                    <a href="https://github.com/osstd/plot_rgb_annotate_.git">rgb-annotate</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Webscraping and webpage control</span>
                        <div class="description">
                            <ul>
                                <li>BeautifulSoup to scrape fake zillow page.
                                    <a href="https://github.com/osstd/webscraping_bs4_selenium_zillow.git">Script.</a>
                                </li>
                                <li>
                                    Results saved to a Google form by controlling the webpage using
                                    selenium. Save your
                                    own form copy
                                    <a href="https://drive.google.com/drive/folders/1GBF_wKVZYohPVREvo2dCTwE4jitkFY_r?usp=sharing">here</a>.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">API RESTful Routing</span>
                        <div class="description">
                            <ul>
                                <li>RESTful routing using flask for cafe database. Response in JSON format.</li>
                                <li><a href="https://github.com/osstd/API_RESTful_Routing_.git">GitHub</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Top 10 Movies</span>
                        <div class="description">
                            <ul>
                                <li>Web app looks your top 10 favourite movies from the Movie DB API and ranks them
                                    based on your rating.</li>
                                <li>API requests and authorization to the Movie DB API.</li>
                                <li><a href="https://github.com/osstd/the_top_10_movies_.git">GitHub</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Typing Speed Test</span>
                        <div class="description">
                            <ul>
                                <li>A typing speed test widget using tkinter.</li>
                                <li><a href="https://github.com/osstd/typing_speed_test_.git">GitHub</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Morse Coder/Decoder</span>
                        <div class="description">
                            <ul>
                                <li>Morse code / decode widget in tkinter.</li>
                                <li> -- --- .-. ... . / -.-. --- -.. . / -..-. / -.. . -.-. --- -.. .
                                    / .-- .. -.. --. . - / .. -. / - -.- .. -. - . .-.</li>
                                <li><a href="https://github.com/osstd/morse_coder_decoder_.git">GitHub</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Tic Tac Toe</span>
                        <div class="description">
                            <ul>
                                <li>Text based.
                                    <a href="https://github.com/osstd/Tic_Tac_Toe.git">❌</a></li>
                                <li>GUI in tkinter.
                                    <a href="https://github.com/osstd/Tic_Tac_Toe_gui.git">⭕</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Snake</span>
                        <div class="description">
                            <ul>
                                <li>Python objects and tkinter. Play the classic.
                                    <a href="https://github.com/osstd/snake_gui_tkinter_.git">🐍</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Watermarking widget</span>
                        <div class="description">
                            <ul>
                                <li>Watermark .jpegs, .jpgs and .pngs image files.
                                    <a href="https://github.com/osstd/Image_Watermarking_Desktop_Widget.git">Try.</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h2 class="h4">Data Analysis</h2>
                <ul>
                    <li class="list-item-cc">
                        <span class="item-text">Programming Languages set</span>
                        <div class="description">
                            <ul>
                                <li>Visualization using matplotlib.</li>
                                <li>
                                    Notebook and data source file.
                                    <a href="https://drive.google.com/drive/folders/13olXp0-eOmmw9Kz_8CC4Mue3DfeMAnBS?usp=sharing">Here.</a>
                                </li>
                                <li>
                                    Drag data file under files on the notebook.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">LEGO Dataset</span>
                        <div class="description">
                            <ul>
                                <li>Visualization using matplotlib.</li>
                                <li>Aggregate and merge data using pandas.</li>
                                <li>
                                    Notebook and data source file.
                                    <a href="https://drive.google.com/drive/folders/1KNROM2CrlHjSZF9FZKmi58404gI4F3ni?usp=sharing">Here.</a>
                                </li>
                                <li>
                                    Drag all files in the data folder under files on the notebook.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item-cc">
                        <span class="item-text">Google search trends</span>
                        <div class="description">
                            <ul>
                                <li>Visualization using pyplot.</li>
                                <li>Resampling data using pandas.</li>
                                <li>
                                    Notebook and data source file.
                                    <a href="https://drive.google.com/drive/folders/1CC-vL05lktNTtMKd0HhM7H3nl8ALM1y8?usp=sharing">Here.</a>
                                </li>
                                <li>
                                    Drag all files in the folder under files on the notebook.
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <img src="{{url_for('static', filename='assets/img/handle_t.png')}}" alt="Project Photo"
                     class="img-fluid">
            </div>
        </div>
    </section>
</main>

{% include 'footer.html' %}
